@charset "utf-8";
.carousel-1:hover,
.carousel-2:hover,
.carousel-3:hover,
.carousel-4:hover,
.carousel-5:hover {
    cursor: pointer
}

.carousel-1 #box,
.carousel-2 #box1,
.carousel-3 #box2,
.carousel-4 #box3,
.carousel-5 #box4 {
    position: relative;
    width: 1366px
}

.main {
    position: relative
}

.main-1 a {
    display: block;
    width: 1366px;
}

.main-1 img {
    width: 1366px;
}

.carousel-1 #box {
    height: 488px
}

.carousel-2 #box1 {
    height: 488px
}

.carousel-3 #box2 {
    height: 488px
}