* {
  margin: 0;
  padding: 0; }

.registe {
  width: 1000px;
  height: 600px;
  margin: 70px auto;
  background-color: #FFF;
  padding-left: 360px;
  padding-top: 50px;
  box-sizing: border-box; }
  .registe h4 {
    font-size: 30px;
    margin-bottom: 20px; }
  .registe .form-item {
    margin-bottom: 10px;
    height: 33px; }
  .registe .form-text {
    width: 266px;
    font-size: 15px;
    height: 20px;
    padding: 6px 10px 5px; }
  .registe .text12 {
    font-size: 12px; }
  .registe .pawCHK {
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  .registe a {
    color: #000; }
  .registe .form-btn {
    width: 226px;
    height: 40px;
    background-color: #040a2b;
    color: #FFF;
    border: none;
    text-align: center; }
  .registe .agreement {
    margin: 10px 0; }
  .registe .submitbtn {
    margin: 30px 0; }
