.main {
    width: 100%;
}

.main-1 {
    width: 100%;
}

.main-left {
    width: 75%;
    box-sizing: border-box;
    padding: 35px 30px 35px 178px;
}

.main-left .promo-panel {
    margin-bottom: 75px;
}

.main-left .promo-panel img {
    border: 1px solid #cccccc;
}

.main-left .promo-panel .signin-to-see {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.main-left .promo-panel .signin-to-see a {
    text-decoration: underline;
}

.main-left .viewcart-panel {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.main-left .viewcart-panel .message {
    color: black;
    margin-bottom: 20px;
}

.main-left .viewcart-panel .top-viewcart-buttons {
    border-top: 1px solid #CCCCCC;
    padding-top: 20px;
    text-align: right;
}

.main-left .viewcart-panel .top-viewcart-buttons span {
    font-weight: bold;
    padding-top: 10px;
}

.main-left .viewcart-panel .top-viewcart-buttons .shopping1 {
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid black;
    margin-right: 20px;
}

.main-left .viewcart-panel .top-viewcart-buttons .money1 {
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid black;
    color: white;
    background-color: #040a2b;
    margin-left: 20px;
}

.main-left .nullshopping .cart-header {
    box-sizing: border-box;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    margin-top: 20px;
}

.main-left .nullshopping .cart-header .products {
    width: 60%;
    float: left;
    font-size: 12px;
    color: #cccccc;
}

.main-left .nullshopping .cart-header .qty {
    width: 15%;
    float: left;
    font-size: 12px;
    color: #cccccc;
}

.main-left .nullshopping .cart-header .price {
    width: 15%;
    float: left;
    color: #cccccc;
    font-size: 12px;
}

.main-left .nullshopping .cart-header .total {
    width: 10%;
    text-align: right;
    float: left;
    color: #cccccc;
    font-size: 12px;
}

.main-left .nullshopping .cart-item {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

.main-left .nullshopping .cart-item .cart-item-product {
    padding-right: 20px;
    width: 162px;
    float: left;
}

.main-left .nullshopping .cart-item .cart-item-product img {
    width: 100%;
}

.main-left .nullshopping .cart-item .cart-item-miaoshu {
    float: left;
    width: 35%;
}

.main-left .nullshopping .cart-item .cart-item-miaoshu .remove {
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}

.main-left .nullshopping .cart-item .cart-item-miaoshu .one {
    margin-top: 6px;
    margin-bottom: 10px;
}

.main-left .nullshopping .cart-item .cart-item-miaoshu .two {
    margin-top: 10px;
}

.main-left .nullshopping .cart-item .cart-item-count {
    float: left;
    margin-left: 10px;
    margin-right: 66px;
}

.main-left .nullshopping .cart-item .cart-item-price {
    float: left;
}

.main-left .nullshopping .cart-item .cart-item-zongji {
    float: left;
    margin-left: 106px;
}

.main-left .nullshopping .xiahuaxian {
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.main-left .nullshopping .cart-items-bottom {
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 20px;
}

.main-left .nullshopping .cart-items-bottom .left1 {
    width: 60%;
    display: inline-block;
}

.main-left .nullshopping .cart-items-bottom .left1 .text01 {
    height: 30px;
}

.main-left .nullshopping .cart-items-bottom .left1 .btn01 {
    height: 30px;
    width: 100px;
    line-height: 30px;
    color: white;
    background-color: black;
}

.main-left .nullshopping .cart-items-bottom .right1 {
    border-bottom: 1px solid black;
}

.main-left .nullshopping .bottom-viewcart-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    text-align: right;
}

.main-left .nullshopping .bottom-viewcart-buttons .shopping {
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid black;
    margin-right: 20px;
}

.main-left .nullshopping .bottom-viewcart-buttons .money1 {
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid black;
    color: white;
    background-color: #040a2b;
    margin-left: 20px;
}

.main-left .bottom_contents {
    padding-top: 80px;
    border-top: 1px solid #cccccc;
    margin-top: 40px;
    box-sizing: border-box;
    padding-left: 20px;
}

.main-left .bottom_contents span {
    border: 1px solid black;
    padding: 5px 20px;
}

.main-left .bottom_contents .spanOne {
    background-color: #040A2B;
    color: white;
}

.main-left .bottom_contents .content {
    border-top: 1px solid #040A2B;
    padding-top: 60px;
    margin-top: 5px;
}

.main-left .bottom_contents .content li {
    width: 33%;
    text-align: center;
    position: relative;
}

.main-left .bottom_contents .content li .same {
    padding-bottom: 90px;
    position: relative;
}

.main-left .bottom_contents .content li .same img {
    width: 120px;
    height: 165px;
}

.main-left .bottom_contents .content li .same .subhead {
    margin-top: 20px;
    min-height: 41px;
}

.main-left .bottom_contents .content li .same input {
    margin-top: 20px;
    background-color: #040A2B;
    color: white;
    text-align: center;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    border: solid 1px #040a2b;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}

.main-right {
    width: 25%;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    padding: 20px 22px 0px 22px;
}

.main-right .pay_problem {
    border-bottom: 1px solid #CCCCCC;
}

.main-right .pay_problem h3 {
    font-size: 18px;
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.main-right .pay_problem .every_block {
    border-bottom: 1px dashed #DBDBDB;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.main-right .pay_problem .every_block div {
    padding-left: 40px;
}

.main-right .pay_problem .every_block span {
    font-size: 20px;
}

.main-right .pay_problem .online_service {
    margin-bottom: 10px;
}

.main-right .pay_problem .live_phone {
    margin-bottom: 10px;
}

.main-right .pay_problem img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    vertical-align: bottom;
}

.main-right .pay_problem .service_hours {
    font-size: 14px;
    margin-bottom: 15px;
}

.main-right .zhiliang {
    padding: 10px 0;
    box-sizing: border-box;
}

.main-right .zhiliang h3 {
    border-bottom: 1px solid #DBDBDB;
    font-size: 15px;
    padding-bottom: 5px;
}

.main-right .zhiliang h3 p {
    font-size: 12px;
}

.main-right .bz_all {
    padding: 10px 0;
}

.main-right .bz_all div {
    padding: 10px 0;
}

.main-right .bz_all .bz_img {
    border-bottom: 1px dashed #DBDBDB;
}

.main-right .bz_all .bz_img img {
    vertical-align: bottom;
}

.main-right .bz_all .bz_img .padbottom {
    font-weight: bold;
    padding-top: 7px;
    font-size: 12px;
    margin: 10px 0;
}

.main-right .bz_all .bz_img .desbottom {
    color: grey;
    font-size: 11px;
    line-height: 20px;
}

.main-right .bz_all .dashbottom {
    border-bottom: 1px dashed #DBDBDB;
}

.main-right .bz_all .dashbottom img {
    vertical-align: bottom;
}

.main-right .bz_all .dashbottom .padbottom {
    font-weight: bold;
    padding-top: 7px;
    font-size: 12px;
    margin: 10px 0;
}

.main-right .bz_all .dashbottom .padbottom a {
    font-size: 12px;
}

.main-right .bz_all .dashbottom .desbottom {
    color: grey;
    font-size: 11px;
    line-height: 20px;
}

.main-right .bz_all .dashbottom .desbottom a {
    font-weight: 700;
    text-decoration: underline;
    color: black;
}

.main-right .bz_all .dashbottom-1 {
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.main-right .bz_all .dashbottom-1 img {
    vertical-align: bottom;
}

.main-right .bz_all .dashbottom-1 .padbottom {
    font-weight: bold;
    padding-top: 7px;
    font-size: 12px;
    margin: 10px 0;
}

.main-right .bz_all .dashbottom-1 .padbottom a {
    font-size: 12px;
}

.main-right .bz_all .dashbottom-1 .desbottom {
    color: grey;
    font-size: 11px;
    line-height: 20px;
}

.main-right .bz_all .dashbottom-1 .desbottom a {
    font-weight: 700;
    text-decoration: underline;
    color: black;
}