.main {
    height: 2045px;
}

.search-page {
    width: 1024px;
    margin: 0 auto;
    margin-left: 170px;
    color: #040A2B;
    position: absolute;
    padding: 0 4px 30px 4px;
    box-sizing: border-box;
}

.search-page .search-page__form {
    width: 800px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    margin: 0 auto;
}

.search-page .search-page__form .search-term {
    border: 1px solid slategray !important;
    box-shadow: none;
    color: #040a2b;
    font-size: 80px;
    height: 100px;
    line-height: 100px;
    padding: 0 75px 5px 0;
    width: 695px;
    box-sizing: border-box;
}

.search-page .search-page__form .search-btn {
    background-image: url(../img/w_search_img.png);
    background-position: 0 0;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid slategray;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 6px;
}

.search-page .search-page__summary {
    margin-left: 112px;
    font-size: 12px;
    margin-top: 15px;
}

.search-page .search-page__summary .user-search-term {
    font-weight: 700;
}

.search-page .results-container .search-page__filters {
    width: 226px;
    float: left;
}

.search-page .results-container .search-page__filters .search-page__filters-dimensions {
    padding: 46px 20px 30px 0;
    border-bottom: #cccccc solid 1px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.search-page .results-container .search-page__filters .search-page__filters-dimensions .li-1 {
    font-size: 12px;
    font-weight: 700;
}

.search-page .results-container .search-page__filters .search-page__filters-dimensions li {
    margin-bottom: 20px;
}

.search-page .results-container .search-page__filters .search-help {
    padding: 0 10px;
    margin: 0 0 20px -20px;
    text-align: center;
}

.search-page .results-container .search-page__filters .search-help h3 {
    font-size: 40px;
}

.search-page .results-container .search-page__filters .search-help .search-zixun {
    text-decoration: underline;
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}

.search-page .results-container .search-page__filters .search-help .num1 {
    font-weight: 700;
}

.search-page .results-container .search-page__filters .search-help p {
    margin: 20px 0;
}

.search-page .results-container .search-page__products {
    float: left;
    margin-left: 48PX;
    width: 740PX;
    position: relative;
}

.search-page .results-container .search-page__products .results-header-container {
    position: relative;
}

.search-page .results-container .search-page__products .results-header-container h2 {
    font-size: 40px;
}

.search-page .results-container .search-page__products .results-header-container .lookAll {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: auto;
    font-size: 12px;
}

.search-page .results-container .search-page__products .results-header-container .lookAll .viewAll {
    padding-right: 12px;
    margin-right: 6px;
    border-right: 1px solid #cccccc;
    font-weight: 700;
    box-sizing: border-box;
    text-decoration: underline;
}

.search-page .results-container .search-page__products .results-header-container .lookAll .page {
    padding: 0 6px 0 6px;
}

.search-page .results-container .search-page__products .results-header-container .lookAll .last a {
    text-decoration: underline;
}

.search-page .results-container .search-page__products .results {
    box-sizing: border-box;
}

.search-page .results-container .search-page__products .results .result {
    border-top: 1px solid #cccccc;
    padding: 40px 0;
    margin-bottom: 20px;
}

.search-page .results-container .search-page__products .results .result .search-product__image {
    display: block;
    float: left;
    width: 144px;
    height: 198px;
    background: #cccccc;
}

.search-page .results-container .search-page__products .results .result .search-product__details {
    float: left;
    width: 328px;
    margin-left: 38px;
}

.search-page .results-container .search-page__products .results .result .search-product__details h4 {
    font-size: 18px;
}

.search-page .results-container .search-page__products .results .result .search-product__details h5 {
    font-size: 16px;
    margin: 10px 0;
}

.search-page .results-container .search-page__products .results .result .search-product__details p {
    font-size: 12px;
}

.search-page .results-container .search-page__products .results .result .search-product__details .addCu {
    font-size: 12px;
    font-weight: 700;
}

.search-page .results-container .search-page__products .results .result .search-product__details .search-product__cta {
    width: 328px;
    height: 40px;
    margin: 10px 0 20px 0;
}

.search-page .results-container .search-page__products .results .result .search-product__details .search-product__cta select {
    width: 100px;
    height: 40px;
    border-color: #040a2b;
}

.search-page .results-container .search-page__products .results .result .search-product__details .search-product__cta .search-product__button {
    display: block;
    float: left;
    margin-left: 10px;
    background: #040a2b;
    font-size: 12px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 110px;
}

.search-page .results-container .search-page__products .results .result .search-product__details .xiangqing {
    display: block;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}

.search-page .results-container .search-page__products .results .result .search-product__details .xinyuan {
    display: block;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 700;
}

.search-page .results-container .search-page__products .results-pagination {
    position: absolute;
    right: 0;
    width: auto;
    font-size: 12px;
}

.search-page .results-container .search-page__products .results-pagination .viewAll {
    padding-right: 12px;
    margin-right: 6px;
    border-right: 1px solid #cccccc;
    font-weight: 700;
    box-sizing: border-box;
    text-decoration: underline;
}

.search-page .results-container .search-page__products .results-pagination .page {
    padding: 0 6px 0 6px;
}

.search-page .results-container .search-page__products .results-pagination .last a {
    text-decoration: underline;
}