.pic-1 {
    display: block;
    width: 1366px;
    height: 550px;
    img {
        width: 100%;
        height: 100%;
    }
}

.pic-2 {
    display: block;
    width: 1366px;
    height: 450px;
    img {
        width: 100%;
        height: 100%;
    }
}

.pic-3 {
    display: block;
    width: 1366px;
    height: 450px;
    img {
        width: 100%;
        height: 100%;
    }
}

.pic-4 {
    display: block;
    width: 1366px;
    height: 450px;
    img {
        width: 100%;
        height: 100%;
    }
}

.pic-5 {
    display: block;
    width: 1366px;
    height: 450px;
    img {
        width: 100%;
        height: 100%;
    }
}

.pic-6 {
    display: block;
    width: 1366px;
    height: 450px;
    img {
        width: 100%;
        height: 100%;
    }
}

.pic-7 {
    display: block;
    width: 1366px;
    height: 450px;
    img {
        width: 100%;
        height: 100%;
    }
}